#merchant{
    background-color: rgba(231, 231, 231, 0.78);
    height:100%;
    font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,\\5FAE\8F6F\96C5\9ED1,Arial,sans-serif;
}
#merchant h1{
    padding-top: 15%;
    text-align: center;
    color: black;
    margin:0px;
}

.merchant-box{
    margin-top: 5%;
    text-align: center;
    border: 2px solid #CAE1FF;
    border-radius: 5px;
    width: 40%;
    padding:1em;
    margin-left: 30%;
    background-color: white;
}
.merchant-box h2{
    text-align: center;
    color: black;
}
.merchant-box p{
    display: inline-block;
    width: 64px;
    text-align: center;
}

#merchant .pure-form-aligned .pure-control-group label{
    width:5em;
}

#merchant  .loginButton, .registerButton{
    color: #fff;
    background-color: #2db7f5;
    border: 1px solid #2db7f5;
    padding: 4px 15px 5px;
    font-size: 14px;
    border-radius: 6px;
    outline: 0;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 500;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    white-space: nowrap;
    line-height: 1.5;
    font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,\\5FAE\8F6F\96C5\9ED1,Arial,sans-serif;
}

#merchant  .registerButton{
    margin-left: 20px;
}

.loginButton, .registerButton{
    color: #fff;
    background-color: #2db7f5;
    border: 1px solid #2db7f5;
    padding: 4px 15px 5px;
    font-size: 14px;
    border-radius: 6px;
    outline: 0;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 500;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    white-space: nowrap;
    line-height: 1.5;
    font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,\\5FAE\8F6F\96C5\9ED1,Arial,sans-serif;
}


#customer{
    font-weight: 600;
    /*font-family: "Times New Roman",Georgia,Serif;*/
    font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,\\5FAE\8F6F\96C5\9ED1,Arial,sans-serif;
}

.weui-form-preview__label{
    color:black;
}
.weui-icon-info-circle {
    height:25px;
}

#merchant .item{
    width: 90%;
    padding: 20px;
    border: 1px solid lightgrey;
    margin:auto;
    background-color: white;
}
#merchant .item span:first-child {
    width: 40%;
    display: inline-block;
    font-size: 16px;
}

#merchant .item span:nth-child(2) {
    width: 60%;
    display: inline-block;
    font-size: 20px;
    font-weight: 500;
}

.pure-menu-link:hover, .pure-menu-link:focus {
    background-color: rgba(19, 164, 241, 0.16);
}

.pure-table thead {
    text-align: center;
}

#merchantPay .weui-form-preview{
    width: 50%;
    margin: 0 auto;
    border: 1px solid #d9d9d9;
}

#merchantPay .merchant_pay{
    width: 50%;
    margin: 10px auto;
    border-width: 0;
    outline: 0;
    -webkit-appearance: none;
    background-color: #1aad19;
    position: relative;
    display: block;
    padding-left: 14px;
    padding-right: 14px;
    box-sizing: border-box;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    line-height: 2.55555556;
    border-radius: 5px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    overflow: hidden;
    cursor: pointer;
    text-transform: none;
}


table
{
    border-collapse:collapse;
    border: 1px solid black;
    width:90%;
}

th
{
    border: 1px solid black;
    height:50px;
    background-color: rgb(194, 213, 199);
}

td
{
    border: 1px solid black;
    height:35px;
    background-color: paleturquoise;
}

.admin-login-box form
{
    width: 30%;
}

.admin-login-box input {
    font-size: large;
    padding: 5px;
    margin: 8px;
}

.admin-login-box label{
    font-size: x-large
}

.detailButton{
    font-size: medium;
    border: darkseagreen;
    background: lightgreen;
}

.closeButton{
    font-size: medium;
    border: darkseagreen;
    background: burlywood
}

.openButton{
    font-size: medium;
    border: darkseagreen;
    background-color: yellowgreen;
}

.submitButton{
    margin-top: 20px;
    margin-left: 15px;
    font-size: 150%;
    border: aquamarine;
    background-color: aquamarine;
    height: 40px;
    width: 80px;
}

.loginButton{
    margin-top: 10px;
    font-size: x-large;
    border: darkgray;
    background-color: wheat;
}

.logoutButton{
    margin-top: 20px;
    font-size: x-large;
    color: darkgreen;
}

.registerButton{
    margin-top: 20px;
    margin-left: 20px;
    font-size: x-large;
    color: orange;
}

.left-menu{
    background-color: darkseagreen;
    position: absolute;
    width: 15%;
    height: 200%;
}

.right-box{
    /*background-color: aquamarine;*/
    /* background-color: aquamarine; */
    position: absolute;
    width: 90%;
    left: 9%;
    height: 100%;
}
.pure-menu-item{
    font-size: x-large;
}
ul{
    list-style-type : none
}
.room-detail{
    left: 10%;
    position: relative;
    font-size: 125%;
}

.room-detail li{
    margin: 10px;
    font-size: 110%;
}

.search-button{
    font-size: x-large;
    border: aquamarine;
    background-color: darkseagreen;
    margin: 10px;
    width: 80px;
    height: 40px;
}

.search-input{
    width: 300px;
    margin-bottom: 20px;
    height: 30px;
    font-size: large;
    padding: 5px;
}

.room-detail-box h2{
    text-align: left;
    margin-left: 10%;
}

.update-room-info input{
    width: 300px;
    height: 30px;
    padding: 5px;
    font-size: 100%;
}

.update-room-info label{
    font-size: 135%;
    margin-right: 20px;
}



.create-room input{
    width: 50%;
    height: 20px;
    padding: 5px;
}



.pure-menu-button{
    background-color: rgb(208, 219, 208);
    font-size: 115%;
    margin-bottom: 20px;
    border: darkseagreen;
}


